RAG agent(rules of cricket).json
{
  "name": "RAG agent(rules of cricket)",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1bsKqRwKElFnwaj4Gg9k4a8CZ9W6RXh5_",
          "mode": "list",
          "cachedResultName": "rules of cricket.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1bsKqRwKElFnwaj4Gg9k4a8CZ9W6RXh5_/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        64
      ],
      "id": "dc773029-93da-4db5-b839-a005bf444be1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oFY1AIUVPT4I34tt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -96,
        64
      ],
      "id": "10e39dbb-d5f6-483d-979e-ef72150e565c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ZCLaHOcfQi3l0LFS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -16,
        336
      ],
      "id": "c0e8c8d3-2410-4837-812d-a014737e0a95",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        64
      ],
      "id": "78c291f0-d9e2-436c-8cb9-06c7c6d53ab5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        320
      ],
      "id": "48c84195-a1b2-4bff-8a4b-678afbd82f68",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZqhaKExpszFYlBnA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        -672
      ],
      "id": "22ed2c50-0d97-4841-8f24-6fbd06792a3f",
      "name": "When chat message received",
      "webhookId": "5063c550-952b-494e-b952-c2a3b0d1adf0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        -464
      ],
      "id": "dfae3ff3-ee13-4dd2-8d5e-9ecbaf749f83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZqhaKExpszFYlBnA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "use the supabase tool to get information about rules of cricket from documents "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        -688
      ],
      "id": "2a760565-83ac-47b8-a3b2-26b918633f57",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Use this tool to look up official rules, regulations, scoring systems, player roles, and match guidelines for the game of cricket."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -64,
        -464
      ],
      "id": "53af15ec-7e74-4ec0-a557-cddbcae160bc",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -192,
        -464
      ],
      "id": "3429459f-e5ef-495e-bec6-7bd3eb9ef8c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        -256
      ],
      "id": "8c820d92-c5e6-4882-8750-85909fe00d46",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZqhaKExpszFYlBnA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -160,
        -256
      ],
      "id": "a32ee8cb-cbc0-4709-818d-8b64a7708f54",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ZCLaHOcfQi3l0LFS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        -112
      ],
      "id": "d6ff9433-d788-4dbe-ab1c-69a0222ce3dc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ZqhaKExpszFYlBnA",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e808a41a-b29d-441e-9f49-674143316b97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40134d253aada6103c4179170e25cbd5a197df16f421618a9149d7497ca5ff97"
  },
  "nodeGroups": [],
  "id": "r5raZcoJOFtCMl0M",
  "tags": []
}